@include each-solver using ($color, $sel) {
    li.highlighted#{$sel} {
        color: color.adjust($color, $lightness: -20%);
    }
}

@include each-solver using ($color, $sel) {
    .highlighted#{$sel} input {
        padding-bottom: 0px;
        border-bottom: 2px solid $color;
    }
}

.crossword-clue-panel {
    display: flex;
    flex-wrap: wrap;
}

.crossword-clue-container {
    width: 100%;
}

