
#collude-panel {
    font-family: $clueFontFamily;
    padding-left: 1em;
    padding-right: 1em;
    .action-button {
        margin-top: 1em;
    }
    .chat-widget-wrapper {
        width: 100%;
        iframe {
            height: 175px;
            width: 350px;
            border: 1px solid #000;
            border-radius: 5px;
        }
    }
}

.crossword-name-input {
    font-size: $gridFontSize;
    font-family: $answerFontFamily;
    padding: $gridBorderWidth 0 0 $gridBorderWidth;
    border: 0;
    border-bottom: 1px solid $gridBgColor;
    margin-right: 2px;
    background: none;
    outline: none;
    height: $gridCellSize;
    line-height: $gridCellSize;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 10em;
}

.crossword-link-text {
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 1em;
    overflow: auto;
    max-width: 18em;
    border-radius: 3px;
    border: 1px solid $gridBgColor;
    font-family: $answerFontFamily;
}


