@use "sass:color";

body {
    margin: 0;
    background-color: $pageBgColor;
}

#crossword-title {
    padding-left: 1em;
    background-position: $displayPadding 0;
    height: 100%;
    width: 450px;
    display: inline-block;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><polygon points='0,0 400,0 440,20, 400,40 0,40' fill='%23003264'/></svg>");
}

#crossword-header {
    display: flex;
    flex-direction: row;
    height: 40px;
    margin-top: $topMargin;
    padding-bottom: $displayPadding;
}

.crossword-details {
    color: #fff;
    height: 40px;
    width: 400px;
    line-height: 40px;
    margin-top: -2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#crossword-type {
    font-family: 'Bree Serif';
    font-size: 36px;
    padding-left: 10px;
    font-weight: bold;
}
#crossword-author {
    font-family: $clueFontFamily; 
    margin-left: -1.5em;
    font-size: 20px;
}
#crossword-pubdate {
    font-family: 'Bree Serif';
    font-size: 30px;
}

.crossword-solvers {
    position: absolute;
    top: 0;
    right: 0;
    flex: 1;
    font-family: $answerFontFamily;
    border: $gridBorderWidth solid;
    margin-top: $topMargin;
    margin-right: $displayPadding;
    overflow: hidden;
    min-width: $clueMinWidth;
    background-color: $gridBlankColor;
    overflow-x: scroll;
    animation: fadein .8s;

    ul {
        height: 40px;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        &:before {
            content: "SOLVERS";
            margin-left: 0.5em;
            margin-right: 2em;
            font-family: $clueFontFamily;
            font-weight: bold;
        }
    }

    .solver {
        // display: block;
        height: 40px;
        line-height: 40px;
        padding-right: 2em;
        list-style-type: none;
        text-transform: uppercase;
        white-space:nowrap;

        &::first-letter {
            float: left;
            font-size: 48px;
        }

        @include each-solver using ($color, $sel) {
            &#{$sel}:before {
                content: $solverIcon;
                color: $color;
            }
        }
    }
}

.cell-highlight-border {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-clip: padding-box;
    background-color: transparent;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
}

.crossword-display {
    max-width: 100%;
    padding-left: $displayPadding;
    padding-right: $displayPadding;
    display: inline-block;

    .crossword-grid-container {
        text-transform: uppercase;
        background-color: $gridBlankColor;
        .crossword-grid {
            border: $gridBorderWidth solid;
            border-collapse: collapse;

            td {
                font-size: $gridFontSize;
                font-family: $answerFontFamily;
                padding: 0;
                box-sizing: border-box;
                border: $gridBorderWidth solid;
                border-color: $gridBgColor;
                min-width: $gridCellSize;
                max-width: $gridCellSize;
                height: $gridCellSize;
                line-height: $gridCellSize;
                position: relative;
                text-align: center;
                vertical-align: middle;

                &[data-number]:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: attr(data-number);
                    font-size: .5em;
                    line-height: 1em;
                    background-color: rgba(240, 240, 240, 0.7);
                    z-index: 5;
                }

                &[data-empty] {
                    background: $gridBgColor;
                }

            }
        }

        .crossword-grid-input {
            font-size: $gridFontSize;
            font-family: $answerFontFamily;
            // padding: $gridBorderWidth 0 0 $gridBorderWidth;
            border: 0;
            background: none;
            outline: none;
            min-width: $gridCellSize;
            max-width: $gridCellSize;
            height: $gridCellSize;
            line-height: $gridCellSize;
            position: absolute;
            text-align: center;
            vertical-align: middle;
            text-transform: inherit;
        }
    }


}

/* @media screen and (min-width: $fullSizeMinWidth) { */
.crossword-panels {
    position: absolute;
    right: 0;
    margin-left: $displayPadding;
    margin-right: $displayPadding;
    border: $gridBorderWidth solid;
    box-sizing: border-box;
    background-color: $gridBlankColor;
    min-width: 20em;
}

.crossword-clue-panel {
    display: flex;
    flex-wrap: wrap;
}

@include each-solver using ($color, $sel) {
    li.highlighted#{$sel} {
        color: color.adjust($color, $lightness: -20%);
    }
}

@include each-solver using ($color, $sel) {
    .highlighted#{$sel} input {
        padding-bottom: 0px;
        border-bottom: 2px solid $color;
    }
}

.author-note {
    text-align: center;
    width: 100%;
    font-family: $clueFontFamily;
    padding-bottom: .5em;
}

.crossword-clues {
    flex: 50%;
    min-width: $clueMinWidth;
    font-family: $clueFontFamily;

    &[data-across]:before {
        content: 'ACROSS';
        font-weight: bold;
        padding: .5em;
    }

    &[data-down]:before {
        content: 'DOWN';
        font-weight: bold;
        padding: .5em;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 1em .5em 1em .5em;

        li {
            line-height: 1.5em;
            padding-bottom: .5em;
            .clue-directions {
                cursor: pointer;
            }
        }
    }

    .crossword-clue-input {
        display: inline-block;
    }

    input {
        font-size: $gridFontSize;
        font-family: $answerFontFamily;
        padding: $gridBorderWidth 0 0 $gridBorderWidth;
        border: 0;
        padding-bottom: 1px;
        border-bottom: 1px solid $gridBgColor;
        margin-right: 2px;
        background: none;
        outline: none;
        min-width: $gridCellSize;
        max-width: $gridCellSize;
        height: $gridCellSize;
        line-height: $gridCellSize;
        text-align: center;
        vertical-align: middle;
        text-transform: uppercase;
        box-sizing: border-box;
    }

    [data-separator=","]:after {
        font-family: $answerFontFamily;
        content: "\00A0";
    }

    [data-separator="-"]:after {
        font-family: $answerFontFamily;
        content: "-";
    }

    .clue-id {
        font-weight: bold;
    }
}

// .tab-wrapper {
//   display:flex;
//   flex-direction: column;
// }

.hidden {
    display: none !important;
}

.tabs {
    position: absolute;
    top: 100%;
}
.panel{
  display: none;
  height: 95%;
  padding-top: 1em;
  overflow-y: scroll;
  margin-left: .5em;
  margin-right: .5em;
  animation: fadein .8s;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
.panel-title{
  font-size:1.5em;
  font-weight:bold
}
.radio{
  display:none;
}
#select-solve:checked ~ .crossword-panels #solve-panel,
#select-compile:checked ~ .crossword-panels #compile-panel,
#select-collude:checked ~ .crossword-panels #collude-panel{
  display:block
}

.tab {
  cursor: pointer;
  font-family: $clueFontFamily;
  padding: 10px 20px;
  margin: 0px -1px;
  display:inline-block;
  background:#000;
  color:#fff;
  border-radius: 0px 0px 3px 3px;
  .tab:disabled {
    cursor: default;
  }
}

#select-solve:checked ~ .crossword-panels .tabs #solve-tab,
#select-compile:checked ~ .crossword-panels .tabs #compile-tab,
#select-collude:checked ~ .crossword-panels .tabs #collude-tab{
  background:#fff;
  color:#000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

.crossword-input {
    display: block;
    position: absolute;
    left: .5em;
    top: .5em;
    right: 1em;
    bottom: 5em;

    .crossword-compilearea {
        font-family: $answerFontFamily;
        font-size: 14px;
        width: 100%;
        height: 95%;
        border-radius: 3px;
        border-color: #AAA;
        resize: none;
        outline: none;
    }
}

@mixin crossword-button {
    height: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    font-family: $clueFontFamily;
    font-size: 14px;
    border-radius: 3px;
    outline: none;
    border: 1px solid $gridBgColor;
    padding: 0;
    min-width: 5em;
    padding-left: .5em;
    padding-right: .5em;
    cursor: pointer;

    &:disabled {
        cursor: auto;
    }
}

.action-button {
    @include crossword-button;
    color: #fff;
    background-color: #003264;

    &:hover {
        background-color: #7ad;
    }

    &:disabled {
        background-color: #aaa;
    }
}

.crossword-join-panel {
    font-family: $clueFontFamily;
    padding-left: 1em;
    padding-right: 1em;
    .action-button {
        margin-top: 1em;
    }
    .chat-widget-wrapper {
        width: 100%;
        iframe {
            height: 175px;
            width: 350px;
            border: 1px solid #000;
            border-radius: 5px;
        }
    }
}

.crossword-name-input {
    font-size: $gridFontSize;
    font-family: $answerFontFamily;
    padding: $gridBorderWidth 0 0 $gridBorderWidth;
    border: 0;
    border-bottom: 1px solid $gridBgColor;
    margin-right: 2px;
    background: none;
    outline: none;
    height: $gridCellSize;
    line-height: $gridCellSize;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 10em;
}

.crossword-link-text {
    height: 40px;
    line-height: 40px;
    padding-left: 1em;
    overflow-x: scroll;
    max-width: 18em;
    border-radius: 3px;
    border: 1px solid $gridBgColor;
    font-family: $answerFontFamily;
}

#compile-panel {
    .crossword-input-controls {
        display: flex;
        flex-direction: row;
        overflow: hidden;
        position: absolute;
        right: .5em;
        left: .5em;
        bottom: .5em;
    }
    .action-button {
        margin-top: .5em;
    }
}

#drop-area {
  font-family: $clueFontFamily;
  text-align: center;
  flex-grow: 1;
  height: 3em;
  white-space: nowrap;
  margin-left: .5em;
  padding: .5em;
  border: 1px dashed #ccc;
  border-radius: 3px;
}

.upload-button {
  @include crossword-button;
  display: inline-block;
  background: #ccc;
}
.upload-button:hover {
  background: #ddd;
}
#drop-area.highlight {
  border-color: #003264;
}

#selected-puz-file {
  display: none;
}
