.cell-highlight-border {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-clip: padding-box;
    background-color: transparent;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
}

.crossword-grid-container {
    text-transform: uppercase;
    background-color: $gridBlankColor;
    display:inline-block;
    .crossword-grid {
        margin: 0 auto;
        border: $gridBorderWidth solid;
        border-collapse: collapse;

        td {
            font-size: $gridFontSize;
            font-family: $answerFontFamily;
            box-sizing: border-box;
            border: $gridBorderWidth solid;
            border-color: $gridBgColor;
            min-width: $gridCellSize;
            max-width: $gridCellSize;
            height: $gridCellSize;
            line-height: $gridCellSize;
            position: relative;
            text-align: center;
            vertical-align: middle;

            &[data-number]:before {
                position: absolute;
                top: 0;
                left: 0;
                content: attr(data-number);
                font-size: .5em;
                line-height: 1em;
                background-color: rgba(240, 240, 240, 0.7);
                z-index: 5;
            }

            &[data-across-separator]:after {
                content: '';
                height: $gridCellSize;
                position: absolute;
                right: 0;
                top: 0;
                border-right: 3px #000 solid;
            }

            &[data-down-separator]:after {
                content: '';
                width: $gridCellSize;
                position: absolute;
                right: 0;
                bottom: 0;
                border-bottom: 3px #000 solid;
            }

            &[data-empty] {
                background: $gridBgColor;
            }

        }
    }

    .crossword-grid-input {
        font-size: $gridFontSize;
        font-family: $answerFontFamily;
        padding: $gridBorderWidth 0 0 $gridBorderWidth;
        border: 0;
        background: none;
        outline: none;
        min-width: $gridCellSize;
        max-width: $gridCellSize;
        height: $gridCellSize;
        line-height: $gridCellSize;
        position: absolute;
        text-align: center;
        vertical-align: middle;
        text-transform: inherit;
    }
}

.copyright-footer {
    height: $tabHeight;
    font-family: $clueFontFamily;
    margin-top: .5em;
    text-transform: none;
}