$cellSize: 2ch;

.crossword-grid-table {
    font-size: 21px;
    border: 1px solid;
    border-collapse: collapse;
}

.crossword-grid-table td {
    border: 1px solid;
    padding: 0;
    border-color: #000;
    font-family: $answerFontFamily;
    min-width: $cellSize;
    max-width: $cellSize;
    height: $cellSize;
    line-height: $cellSize;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}