.crossword-solvers {
    font-family: $answerFontFamily;
    display: flex;
    align-items: center;
    margin-left: $displayPadding;
    border: $gridBorderWidth solid;
    min-width: $clueMinWidth;
    background-color: $gridBlankColor;
    animation: fadein .8s;

    .solvers-text {
        margin-left: 0.5em;
        margin-right: 2em;
        font-family: $clueFontFamily;
        font-weight: bold;
    }
    ul {
        overflow-x: auto;
        overflow-y: hidden;
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .solver {
        // display: block;
        height: 100%;
        display: flex;
        align-items: center;
        padding-right: 2em;
        list-style-type: none;
        text-transform: uppercase;
        white-space:nowrap;

        &::first-letter {
            float: left;
        }

        @include each-solver using ($color, $sel) {
            &#{$sel}:before {
                font-size: 50px;
                content: "■";
                margin-right: 3px;
                color: $color;
            }
        }
    }
}