.crossword-solvers {
    font-family: $answerFontFamily;
    margin-left: $displayPadding;
    border: $gridBorderWidth solid;
    overflow: hidden;
    min-width: $clueMinWidth;
    background-color: $gridBlankColor;
    overflow-x: scroll;
    animation: fadein .8s;

    ul {
        height: $tabHeight;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        &:before {
            content: "SOLVERS";
            margin-left: 0.5em;
            margin-right: 2em;
            font-family: $clueFontFamily;
            font-weight: bold;
        }
    }

    .solver {
        // display: block;
        height: $tabHeight;
        line-height: $tabHeight;
        padding-right: 2em;
        list-style-type: none;
        text-transform: uppercase;
        white-space:nowrap;

        &::first-letter {
            float: left;
            font-size: 48px;
        }

        @include each-solver using ($color, $sel) {
            &#{$sel}:before {
                content: $solverIcon;
                color: $color;
            }
        }
    }
}