// https://codepen.io/mikestreety/pen/yVNNNm

.tabs {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}

.panel {
  flex-grow: 1;
  box-sizing: border-box;
  width: 100%;
  display: none;
  background: #fff;
  overflow-y: scroll;
}

.tab-label {
  display: block;
  font-family: $clueFontFamily;
  padding: 10px 20px;
  margin-right: 4px;
  border: 1px solid #000;
  box-sizing: border-box;
  height: $tabHeight;
  cursor: pointer;
  background: #ddd;
  color:#000;
  i {
    margin-right: .5em;
  }
}

.tabs.tabs-bottom .panel {
  order: -2;
}

.tabs.tabs-bottom .tab-label {
  border-radius: 0px 0px 3px 3px;
  border-top: none;
}

.tabs.tabs-top .tab-label {
  border-radius: 3px 3px 0px 0px;
  border: 1px solid #000;
  border-bottom: none;
  order: -3;
}

.tabs input[type="radio"] {
  margin: 0;
  padding: 0;
  display: none;
}
.tabs input[type="radio"]:checked + .tab-label {
  background: #fff;
}
.tabs input[type="radio"]:checked + .tab-label + .panel {
  display: block;
}

