
#crossword-title {
    display: flex;
    width: 100%;
}

.crossword-meta {
    color: #fff;
    width: 100%;
    flex-direction: row;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
    line-height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: $titleBgColor;
}

#crossword-meta-name {
    font-family: $titleFontFamily;
    font-size: 18px;
    padding-left: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $titleBgColor;
}
#crossword-meta-author {
    font-family: $clueFontFamily; 
    flex: 1;
    margin-left: .5em;
    margin-right: .5em;
    font-size: 16px;
    background-color: $titleBgColor;
}
#crossword-meta-identifier {
    font-family: $titleFontFamily;
    font-size: 18px;
}

.crossword-title-chevron {
    width: 0;
    height: 0;
    text-align: right;
    background: $pageBgColor;
    border-style: solid;
    border-width: $tabHeight/2 0 $tabHeight/2 #{$tabHeight * $sin60};
    border-color: transparent transparent transparent $titleBgColor;
}