$answerFontFamily: "notcouriersansregular", monospace;
$clueFontFamily: "aurulent_sansregular", sans-serif;

$pageBgColor: #F0F8FF;
$gridBgColor: #000;
$gridBlankColor: #fff;
$gridHighlightColor: #e73;
$gridFontSize: 24px; 
$gridCellSize: 2ch;
$gridBorderWidth: 1px;

$topMargin: 8px;
$displayPadding: 18px;

$clueMinWidth: 15em;

$youIcon: "\25a0\00a0";
$otherSolverIcon: "\25a0\00a0";

$solverColor0: $gridHighlightColor;
$solverColor1: #07b;
$solverColor2: #3be;
$solverColor3: #e37;
$solverColor4: #c31;
$solverColor5: #098;
