// @import 'crossword';
// @import 'solverdisplay';

@import 'compile';

*,
*::before,
*::after {
    box-sizing: border-box;
}

::selection{
    background-color: transparent;
}

html {
    font-size: 100%;
}

body {
    -webkit-print-color-adjust: exact !important;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

.visible-print {
    display: none !important;
    @media print {
        display: block !important;
    }
}