// @import 'crossword';
// @import 'solverdisplay';
@use "sass:map";
@import 'compile';
@import 'themes';


*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-variant-ligatures: none;
}

html {
    -webkit-text-size-adjust: 100%;
    font-size: 100%;
}

body {
    -webkit-print-color-adjust: exact !important;
}

:root {
    @each $var in map.keys($theme-defs) {
        --#{$var}: #{map.get($theme-defs, $var, "light")}
    }
}

@each $name in $theme-names {
    @media screen {
        @media (prefers-color-scheme: #{$name}) {
            :root {
                @each $var in map.keys($theme-defs) {
                    --#{$var}: #{map.get($theme-defs, $var, $name)}
                }
            }
        }
        .theme-#{$name}, .theme-#{$name} *, .theme-#{$name} ~ * {
            @each $var in map.keys($theme-defs) {
                --#{$var}:  #{map.get($theme-defs, $var, $name)}
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

@media print {
  .hidden-print {
    display: none !important;
  }
}

