$titleFontFamily: 'Bree Serif', serif;
$answerFontFamily: "notcouriersansregular", monospace;
$clueFontFamily: "aurulent_sansregular", sans-serif;



$gridFontSize: 24px; 
$gridCellSize: 2ch;
$gridBorderWidth: 1px;
$titleBgColor: #003264;

$topMargin: 8px;
$displayPadding: 8px;

$tabHeight: 40px;
$sin60: 0.86;


$clueMinWidth: 20em;

$highlightBorderWidth: 0.15ch;
$highlightCellSize: #{$gridCellSize - 2*$highlightBorderWidth};
